/* 下方时间轴控件的年月日时间字体颜色 */
.mars3d-clockAnimate{
  color: white;
}

/* 按div去放置图片的点位的样式 */
.inspection-class {
  text-align: center;
  margin: 0;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-height: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;

  width: 30px;
  height: 64px;
  background-image: url(@/assets/img/point1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.inspection-item {
  position: absolute;
  top: -21%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.inspection-item>div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 8px;
  width: 80px;
  height: auto;
  background: rgba(17, 17, 17, 0.5);
  font-family: MiSans-Regular;
  color: rgba(255, 255, 255, 0.85);
  font-size: 10px;
  margin-top: 3px;
  padding: 1.5px 1px;
}

/* map左下角自定义按钮的选中样式效果 */
.toolButton-selected {
  width: 32px;
  height: 32px;
  /* border: solid 2px white; */
  background-color: aqua !important;
  /* border-radius: 30px; */
  -webkit-box-shadow: 0 0 10px rgb(244, 250, 250);
}